body {
    font-family: 'Montserrat', sans-serif;
    background: url('../images/back.png') no-repeat center center fixed;
    background-size: cover;
    font-size: 14px;
    color: #333;
  }

  .container .card {
    max-width: 300px;
    max-height: 500px;
    background: #f4f4f442;
    padding: 45px;
    border-top: 15px solid #42044460;
    display: flex;
} 
  
  .profile-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 3px;
    border-radius: 100%;
  }
  
  .profile-title {
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  .profile-title-color {
    color: #2e083d;
  }
  
  .profile-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(31, 7, 53);
  }
  
  .content p {
    text-align: center;
  }
  
  .content icone {
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    background: #a008ae48;
    color:#fff;
  }
  

@media (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #1e1e1e;
        background: url('../images/back.png') no-repeat center center fixed;
        background-size: cover ;
        background-repeat: no-repeat;
    }
    .container {
        width: 900px;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .container .card {
        max-width: 900px;
        max-height: 450px;
        width: 100%;
        background: #f4f4f442;
        padding: 45px;
        border-top: 15px solid #42044460;
        display: flex;
    }
    .container .card .face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .face.face1 {
        background: rgba(172, 170, 170, 0.397);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform-origin: bottom;
    }

    .profile-img {
        display: flex;
        place-content: center;
        width: 190px;
        height: 190px;
        border-radius: 100%; 
    }

    .face.face1 h3 {
        color: rgb(15, 14, 14);
        text-align: center;
        font-size: 1.5em;
        font-family: 'Press Start 2P', cursive;
    }

    .face.face1 h2 {
        color: rgb(70, 11, 78);
        text-align: center;
        font-size: 1.8em;
        font-family: 'Press Start 2P', cursive;
    }
    
    .card:hover .face.face1 {
        transform: translateY(-100%) rotateX(90deg);
        background: #69046dc9;
    }

    .card:hover .face.face2 {
        transform: translateY(0%) rotateX(0deg);
    }

    .face.face2 {
        background: rgba(75, 22, 75, 0.342);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transform-origin: top;
        transform: translateY(100%) rotateX(90deg);
    }

    .face.face2 .content p {
        margin: 20px 0 0;
        text-align: center;
        font-size: 2.5em;
        font-family: Dancing Script;
    }

    .face.face2 .content h1 {
        margin: 15px 0 0;
        text-align: center;
        font-size: 1em;
        font-family: 'Press Start 2P';
    }

    .face.face2 .content a {
        margin: 15px 84px 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 0.5px solid #333;
    }
    
    .face.face2 .content a:hover {
        background: #333;
        color: #fff;
    }

    .social {
        margin: 15px 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .social li {
        flex-grow: 1;
        margin-right: 5px;
    }

    .social a {
        border-radius: 3px;
        padding: 10px;
        border: 1px solid #1e89b5;
        display: block;
        font-size: 30px;
    }

    .social a:hover {
        background: #fff;
        color: #1e89b5;
    }
}