@media only screen and (min-width: 769px) {

  body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/Background.png') no-repeat center center fixed;
    background-size: cover;
    color: rgb(65, 62, 62);
  }

  .card-body {
    width: 700px;
    height: 450px;
    margin: 40px auto;
    background: #f4f4f442;
    padding: 45px;
    border-top: 15px solid #42044460;
  }

  .card-img {
    width: 200px;
    height: 220px;
    margin: 0 auto;
  }

  .profile-img {
    width: 190px;
    height: 190px;
    border-radius: 100%;
  }

  .profile-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Press Start 2P';
    color: black;
  }

  .profile-title-color {
    color: #861286;
  }

  .profile-subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    color: black;
  }

  .card-text {
    text-align: center;
  }

  .card-icons {
    text-align: center;
    border-radius: 30px;
    background: #a008ae48;
  }

  .card-icons .icone {
    color:rgba(12, 2, 11, 0.644);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .card-icons p {
    color:rgba(12, 2, 11, 0.644);
    margin-left: 5px;
    margin-right: 10px;
    font-size: 25px;
  }

}

@media screen and (max-width: 768px) {

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: url('../images/Background.png');
    background-size: cover;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }  

  .card-body {
    width: 100%;
    height: auto;
    background: #f4f4f442;
    border-top: 15px solid #42044460;
    margin-right: 10px;
  }
  
  .profile-img {
    width: 30%;
    margin-top: 10px;
    margin-left: 130px;
    align-items: center;
    border-radius: 100%;
  }
  
  .profile-title {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    flex-flow: column;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .profile-title-color {
    color: #861286;
  }
  
  .profile-subtitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    flex-flow: column;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  .card-text {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .card-icons {
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background: #a008ae48;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .card-icons .icone {
    color:rgba(12, 2, 11, 0.644);
    margin-left: 10px;
    margin-right: 5px;
  }

  .card-icons p {
    color:rgba(12, 2, 11, 0.644);
    margin-left: 5px;
    margin-right: 10px;
  }
}